---
layout: default
title: Seminari
---
<section class="section-block">
  <h1>I Seminari</h1>
  <div class="info">
    <p>Accanto ai corsi settimanali, anche quest'anno la scuola propone una serie di seminari tematici, 
      pensati per approfondire stili, tecniche e discipline specifiche attraverso percorsi dedicati. 
      I seminari sono open level, aperti a tutte le allieve interessate a esplorare nuovi linguaggi 
      espressivi o ad ampliare il proprio bagaglio tecnico, indipendentemente dal livello di partenza. 
      I percorsi si concluderanno con la realizzazione di coreografie che prenderanno parte agli 
      spettacoli organizzati durante la stagione da Shirin Dance e dalle maestre partner che collaborano 
      alla conduzione dei seminari, offrendo a chi lo desidera l'opportunità di portare in scena il 
      lavoro svolto.</p>
      <br>
      <p>Rimanete connessi per scoprire i seminari in programma per quest'anno!</p>
      <!--<br>Di seguito puoi scoprire i seminari in programma per questa stagione.</p>-->
      <br><p>Per avere informazioni scrivici o contattaci</p>
      <p><strong>Email:</strong> <a href="mailto:shirindancecompany@gmail.com">shirindancecompany@gmail.com</a></p>
      <p><strong>Telefono:</strong> <a href="tel:+390000000000">+39 000 000 0000</a></p>
  </div>
<!--
  <div class="media-box media-box--img-dx">
    <h2 class='media-box-title'>Seminario 1</h2>
    <div class="media-box-content">
      <div class="media-box-image">
        <img src="/images/corsi/seminari/2026image.jpg" alt="Locandina">
      </div>
      <div class="media-box-text">
        <p>Descrizione breve seminario 1</p>
        <p><a href="/corsi/seminari/tribal-fusion.html">Più info</a></p>
      </div>
    </div>
  </div>

  <div class="media-box media-box--img-sx">
    <h2 class='media-box-title'>Seminario 2</h2>
    <div class="media-box-content">
      <div class="media-box-image">
        <img src="/images/corsi/seminari/2026image2.jpg" alt="Locandina">
      </div>
      <div class="media-box-text">
        <p>Descrizione breve seminario 2</p>
        <p><a href="/corsi/seminari/zodiac.html">Più info</a></p>
      </div>
    </div>
  </div>
-->

</section>


<section class="archive-section">
  <h2>Archivio Seminari</h2>

  <ul class="archive-list">
    {% for item in site.seminari reversed %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
        <span class="archive-list-date">
            {% if item.date_label %}
                {{ item.date_label }}
            {% else %}
                {{ item.date | date: "%d %B %Y" }}
            {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
</section>