---
layout: default
title: Seminari
---
<section class="section-block">
  <h1>I Seminari</h1>
  <div class="info">
    <p>Accanto ai Corsi Settimanali, anche quest'anno la Scuola propone una serie di Seminari tematici 
      <br>pensati per approfondire stili, tecniche e discipline specifiche attraverso percorsi dedicati. 
      <br>I Seminari sono "Open Level", aperti a tutte le allieve interessate a esplorare nuovi linguaggi 
      espressivi<br>o ad ampliare il proprio bagaglio tecnico, indipendentemente dal livello di partenza. 
      <br>I percorsi si concluderanno con la realizzazione di coreografie che faranno parte<br>dello Spettacolo annuale
      <br>con la presenza degli insegnanti esterni partner delle iniziative. 
    </p>
      <br>
  <div class="media-box media-box--img-dx">
    <h2 class='media-box-title'>La Divina Commedia Project® a Bologna</h2>
    <div class="media-box-content">
      <div class="media-box-image">
        <img src="/images/news/proposta_26.27/Proposta_Divina_Commedia.jpeg" alt="Locandina">
      </div>
      <div class="media-box-text" style="font-size: 1.5rem;">
           <strong><a href="https://www.francescapedretti.it/ladivinacommediaproject/" style="color:rgb(80, 80, 180)">
            La Divina Commedia Project®</a></strong> ideato e diretto da <a href="https://www.francescapedretti.it/" style="color:rgb(80, 80, 180)">Francesca Pedretti</a>
            <br>un progetto che da oltre undici anni racconta la Divina Commedia
             col linguaggio della Tribal Fusion Dance <br>in un percorso di ricerca, crescita e creazione performativa.
            <br>Il Performance Project arriva ora a Bologna, in collaborazione e con la partecipazione di <a href="https://www.facebook.com/shirindance" style="color:rgb(80, 80, 180)">Silvana Difalco</a>.
            <br>Francesca guiderà i quadri dell'Inferno e del Paradiso nello stile Tribal Fusion, mentre Silvana curerà i quadri del Purgatorio
             attraverso i linguaggi del FCBD® Style e dell'Oriental Fusion.
            <br>Tecnica, improvvisazione, ricerca del movimento e composizione coreografica si intrecceranno in un percorso di creazione collettiva, dove la danza diventa strumento per costruire immagini, atmosfere ed emozioni.
            <br>Un viaggio nella danza e nella scena, ma anche dentro noi stessi.</p>
        <p><a href="/seminari/divinacommedia/">Più info</a></p>
      </div>
    </div>
  </div>

  <!--<div class="media-box media-box--img-sx">
    <h2 class='media-box-title'>Seminario 2</h2>
    <div class="media-box-content">
      <div class="media-box-image">
        <img src="/images/corsi/seminari/2026image2.jpg" alt="Locandina">
      </div>
      <div class="media-box-text">
        <p>Descrizione breve seminario 2</p>
        <p><a href="/corsi/seminari/zodiac.html">Più info</a></p>
      </div>
    </div>
  </div>
-->

</section>


<section class="archive-section">
  <h2>Archivio Seminari</h2>

  <ul class="archive-list">
    {% for item in site.seminari reversed %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
        <span class="archive-list-date">
            {% if item.date_label %}
                {{ item.date_label }}
            {% else %}
                {{ item.date | date: "%d %B %Y" }}
            {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
</section>