@font-face {
  font-family: 'Almalik';
  src: url('../fonts/Almalik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arabian';
  src: url('../../fonts/XXII\ ARABIAN-ONENIGHTSTAND.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* BODY GENERALE */
body {
  font-family: 'Arabian', sans-serif; /* font principale della pagina */
  margin: 0; /* rimuove il margine predefinito del browser */
  padding: 0; /* rimuove il padding predefinito del browser */
}

/* CONTENITORE MENU */
.menu-container {
  display: flex;
  align-items: center;          /* centra verticalmente */
  justify-content: space-between; /* hamburger a sinistra, link a destra */
  width: 100%;                  /* prende tutta la larghezza */
  gap: 20px;                    /* spazio opzionale tra elementi */
  position: relative;
}
